body {
    background: rgb(0, 0, 0);
    font-family: 'DIN', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.lihsr {
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0.8);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
h1 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px black;
    bottom: 30vh;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    font-size: 28px;
}
.version {
    position: absolute;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    bottom: 10px;
    left: 10px;
}
.user {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    backdrop-filter: blur(25px);
    transition: opacity 0.5s ease;
}
#kurukuru {
    width: 169px;
    height: 169px;
}
#loading-text {
    margin-top: 20px;
    color: white;
    font-size: 22px;
    text-align: center;
}
.play {
    position: absolute;
    bottom: 17%;
    left: 43%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 2;
    transition: 0.5s ease;
}
.play:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease; 
}
.settings {
    position: absolute;
    bottom: 17%;
    left: 57%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 2;
    transition: 0.5s ease;
}
.settings:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease; 
}
.settings-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
    transition: opacity 0.5s ease;
}
.settings-container.active {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}
.settings-app {
    position: fixed;
    top: 18%;
    left: 10%;
    width: 80%;
    height: 75%;
    border-radius: 10px;
    background-color: #C4BEC2;
    display: none;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.settings-app.active {
    display: block;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.settings-text-container {
    position: absolute;
    top: 2%;
    left: 5%;
    display: flex;
    align-items: center;
}

.settings-logo {
    width: 20%;
    height: auto;
    color: white;
    z-index: 4;
    display: none;
    margin-right: 18px;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.settings-text {
    width: 10%;
    height: auto;
    color: white;
    font-size: 60px; /* Adjust the font-size as needed */
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-map {
    position: relative;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    left: 10vh;
    z-index: 4;
    display: none;
    transition: opacity 0.5s ease, transform 0.4s ease;
}

.settings-map-wrapper {
    position: absolute;
    top: 1.5vw;
    right: 2vw;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Start from the right side */
}

.settings-map-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Start from the right side */
    right: 0;
}

.settings-map1,
.settings-map2,
.settings-map3,
.settings-map4,
.settings-map5 {
    position: relative;
    top: 1%;
    z-index: 4;
    width: 10vw;
    height: 11.25vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.25vw;
    cursor: pointer;
    display: none;
    flex-wrap: wrap;
    transition: transform 0.2s ease;
}

.settings-map1 {
    background-image: url("../media/map/random.png");
}

.settings-map2 {
    background-image: url("../media/map/hertaspacestation.png");
}

.settings-map3 {
    background-image: url("../media/map/jarilovi.png");
}

.settings-map4 {
    background-image: url("../media/map/thexianzhouluofu.png");
}

.settings-map5 {
    background-image: url("../media/map/penacony.png");
}

.settings-map1:hover,
.settings-map2:hover,
.settings-map3:hover,
.settings-map4:hover,
.settings-map5:hover {
    transform: scale(1.05);
}

.settings-map1.active,
.settings-map2.active,
.settings-map3.active,
.settings-map4.active,
.settings-map5.active {
    z-index: 4;
}

.settings-gamemode-wrapper {
    position: absolute;
    top: 9vw;
    right: 2vw;
    width: 100%; /* Set the desired width */
    height: 15%; /* Set the desired height */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Start from the right side */
}
.settings-gamemode-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
}
.settings-gamemodestext {
    position: relative;
    color: white;
    left: 10vh;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamemodesstandardtext,
.settings-gamemodessurvivaltext {
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    margin: 5vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.settings-gamerules-wrapper1 {
    position: absolute;
    top: 15vw;
    right: 2vw;
    width: 100%; /* Set the desired width */
    height: 15%; /* Set the desired height */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Start from the right side */
}
.settings-gamerules-wrapper2 {
    position: absolute;
    top: 22vw;
    right: 2vw;
    width: 100%; /* Set the desired width */
    height: 15%; /* Set the desired height */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Start from the right side */
}
.settings-gamerules-wrapper3 {
    position: absolute;
    top: 29vw;
    right: 2vw;
    width: 100%; /* Set the desired width */
    height: 15%; /* Set the desired height */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Start from the right side */
}
.settings-gamerules-container1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.settings-gamerules-container2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.settings-gamerulestext {
    position: relative;
    color: white;
    left: 10vh;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerulestimer,
.settings-gamerulesseetime,
.settings-gameruleround  {
    position: relative;
    color: white;
    z-index: 4;
    width: 7vw;
    height: 7vh;
    margin: -1vw;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.slider1-container,
.slider2-container,
.slider3-container {
    display: flex;
    align-items: center;
}

.slider1,
.slider2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20vw; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.slider3 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 15vw; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.slider1:hover,
.slider2:hover {
    opacity: 1; /* Fully shown on mouse-over */
    z-index: 4;
}
.slider1::-webkit-slider-thumb,
.slider2::-webkit-slider-thumb,
.slider3::-webkit-slider-thumb  {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background-image: url("../media/icons/radio-button-on-outline.svg");
    cursor: pointer; /* Cursor on hover */
    z-index: 4;
}
.slider1::-moz-range-thumb,
.slider2::-moz-range-thumb,
.slider3::-moz-range-thumb  {
    width: 25px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 4;
}
.settings-displayTime,
.settings-displaySeeTime,
.settings-displayRound  {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.slider3:hover {
    opacity: 1; /* Fully shown on mouse-over */
    z-index: 4;
}

.settings-seedtext {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    margin: 1vw;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.seedinput {
    position: relative;
    padding: 2vh 8vw;
    font-family: 'DIN', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248);
    z-index: 4;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.seedinput::placeholder {
    font-style: italic;
}
.seedtext {
    position: absolute;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    bottom: 2%;
    left: 1%;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-filterstext {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerulebaw {
    position: relative;
    width: 7vw;
    height: 7vh;
    color: white;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gameruleinvert {
    position: relative;
    width: 7vw;
    height: 7vh;
    color: white;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerulepixelate {
    position: relative;
    width: 7vw;
    height: 7vh;
    color: white;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerulescramble {
    position: relative;
    width: 7vw;
    height: 7vh;
    color: white;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.standard-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 43px;
    z-index: 4;
    display: none;
}

.standard-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.standard-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.standard-slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .standard-slider {
    background-color: #252525;
}

input:focus + .standard-slider {
    box-shadow: 0 0 2px #000000;
}

input:checked + .standard-slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.standard-slider.round {
    border-radius: 34px;
}

.standard-slider.round:before {
    border-radius: 50%;
}
.baw-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 43px;
    z-index: 4;
    display: none;
}

.baw-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.baw-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.baw-slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .baw-slider {
    background-color: #252525;
}

input:focus + .baw-slider {
    box-shadow: 0 0 2px #000000;
}

input:checked + .baw-slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.baw-slider.round {
    border-radius: 34px;
}

.baw-slider.round:before {
    border-radius: 50%;
}
.invert-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 43px;
    z-index: 4;
    display: none;
}

.invert-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.invert-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.invert-slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .invert-slider {
    background-color: #252525;
}

input:focus + .invert-slider {
    box-shadow: 0 0 2px #000000;
}

input:checked + .invert-slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.invert-slider.round {
    border-radius: 34px;
}

.invert-slider.round:before {
    border-radius: 50%;
}
.pixelate-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 43px;
    z-index: 4;
    display: none;
}

.pixelate-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.pixelate-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.pixelate-slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .pixelate-slider {
    background-color: #252525;
}

input:focus + .pixelate-slider {
    box-shadow: 0 0 2px #000000;
}

input:checked + .pixelate-slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.pixelate-slider.round {
    border-radius: 34px;
}

.pixelate-slider.round:before {
    border-radius: 50%;
}
.scramble-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 43px;
    z-index: 4;
    display: none;
}

.scramble-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.scramble-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.scramble-slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .scramble-slider {
    background-color: #252525;
}

input:focus + .scramble-slider {
    box-shadow: 0 0 2px #000000;
}

input:checked + .scramble-slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.scramble-slider.round {
    border-radius: 34px;
}

.scramble-slider.round:before {
    border-radius: 50%;
}
.survival-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 43px;
    z-index: 4;
    display: none;
}

.survival-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.survival-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.survival-slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .survival-slider {
    background-color: #252525;
}

input:focus + .survival-slider {
    box-shadow: 0 0 2px #000000;
}

input:checked + .survival-slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.survival-slider.round {
    border-radius: 34px;
}

.survival-slider.round:before {
    border-radius: 50%;
}
.guess-tooltip {
    font-family: 'DIN', sans-serif;
    font-size: 10px;
}
@font-face {
   font-family: 'DIN';
   src: url('../media/font/DIN.ttf') format('truetype');
}
.random-image {
    z-index: -1;
}
.starrail-container {
    position: fixed;
    width: 435px;
    height: 435px;
    right: 1%;
    bottom: 1%;
}
.dropdown {
    position: absolute;
    right: 1%;
    z-index: 4;
}
.dropdown-btn {
    position: relative;
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 4;
    display: none;
    transition: 0.5s ease;
}
.dropdown-btn:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 3;
    max-height: 400px; /* Adjust the height as needed */
    overflow: auto;
  }
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    z-index: 3;
  }
    .dropdown-menu .hst-mcz:hover,
    .dropdown-menu .hst-bz:hover,
    .dropdown-menu .hst-stz:hover,
    .dropdown-menu .hst-suz:hover,
    .dropdown-menu .hst-scz:hover,
    .dropdown-menu .j6-ad:hover,
    .dropdown-menu .j6-osp:hover,
    .dropdown-menu .j6-bp:hover,
    .dropdown-menu .j6-sgrz:hover,
    .dropdown-menu .j6-cofe:hover,
    .dropdown-menu .j6-eh:hover,
    .dropdown-menu .j6-poc:hover,
    .dropdown-menu .j6-owtg:hover,
    .dropdown-menu .j6-bt:hover,
    .dropdown-menu .j6-gm:hover,
    .dropdown-menu .j6-rt:hover,
    .dropdown-menu .j6-rs:hover,
    .dropdown-menu .j6-ad:hover,
    .dropdown-menu .j6-owtg:hover,
    .dropdown-menu .j6-rt:hover,
    .dropdown-menu .j6-rs:hover,
    .dropdown-menu .txl-csh:hover,
    .dropdown-menu .txl-c:hover,
    .dropdown-menu .txl-sn:hover,
    .dropdown-menu .txl-es:hover,
    .dropdown-menu .txl-aa:hover,
    .dropdown-menu .txl-dc:hover,
    .dropdown-menu .txl-fg:hover,
    .dropdown-menu .txl-ac:hover,
    .dropdown-menu .txl-sw:hover,
    .dropdown-menu .txl-c:hover,
    .dropdown-menu .txl-dc:hover,
    .dropdown-menu .txl-ac:hover,
    .dropdown-menu .p-tr:hover,
    .dropdown-menu .p-gh:hover,
    .dropdown-menu .p-de:hover,
    .dropdown-menu .p-acd:hover,
    .dropdown-menu .p-trd:hover,
    .dropdown-menu .p-dp:hover,
    .dropdown-menu .p-cstp:hover{
        background-color: #f2f2f2;
    }

  .dropdown-menu .sub-menu-hst,
  .dropdown-menu .sub-menu-j6,
  .dropdown-menu .sub-menu-txl,
  .dropdown-menu .sub-menu-p{
   display: none;
    max-height: 200px; /* Adjust the height as needed */
    overflow: auto;
  }
  
  .dropdown-menu .sub-menu-hst.show,
  .dropdown-menu .sub-menu-j6.show,
  .dropdown-menu .sub-menu-txl.show,
  .dropdown-menu .sub-menu-p.show{
    display: block;
  }

  .dropdown-menu .sub-menu-hst .hst-mcz:hover {
    background-color: #f2f2f2;
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cecece;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #272727;
  }
  .floor-btn {
    font-family: 'DIN', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 3;
    transition: transform 0.5s ease;
  }
  .floor-btn:hover {
    background-color: rgba(165, 165, 165, 0.5)
  }
#starrailmap {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    bottom: 2%;
    right: 1%;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: opacity 0.5s ease, transform 0.4s ease;
    z-index: 3;
}
#starrailmap:hover {
    transform: scale(1.2) translateX(-8%) translateY(-8%);
    justify-content: right;
}
.guess-btn {
    position: fixed;
    display: none;
    padding: 5px 111px;
    font-family: 'DIN', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    color: rgb(105, 105, 105);
    z-index: 3;
    bottom: 2%;
    right: 1%;
    transition: 0.5s ease;
}
.guess-btn.has-marker {
    background-color: green;
    cursor: pointer;
    color: white;
}
.guess-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 3;
}
.guess-result {
    position: fixed;
    left: 50%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    bottom: 12%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 30px;
}
.next-round {
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 4;
    bottom: 5%;
    display: none;
    transition: 0.5s ease;
    position: fixed;
}
.next-round:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
#resultmap {
    position: fixed;
    display: flex;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-50%);
    border-radius: 10px;
    height: 350px;
    width: 350px;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
#countdown-text {
    position: absolute;
    top: 4%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 4;
    display: none;
    transition: 0.5s ease;
}
#countdown-s-text {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 245, 159);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 4;
    display: none;
    transition: 0.5s ease;
}
#countdown-timeup {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 96px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 4;
    display: none;
}
.game-stat {
    position: fixed;
    top: 1%;
    right: 1%;
    background-color: rgb(91, 99, 206);
    width: 400px;
    height: 150px;
    border-radius: 10px;
    display: none;
}
#final-score {
    position: absolute;
    text-align: center;
    color: rgb(255, 228, 107);
    font-size: 200px;
    text-shadow: 2px 2px 2px black;
    top: 35%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
#round-info {
    position: absolute;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    transition: opacity 0.75s ease;
    top: -12%;
    left: 2%
}
#score-info {
    position: absolute;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    transition: opacity 0.75s ease;
    top: 17%;
    left: 2%
}
#map-info {
    position: absolute;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    transition: opacity 0.75s ease;
    top: 45%;
    left: 2%
}
.finaltext {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    top: 33%;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.menu-btn {
    padding: 20px 30px;
    left: 47%;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 4;
    bottom: 20%;
    display: none;
    transition: 0.5s ease;
    position: fixed;
}
.menu-btn:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
.gameaudio {
    display: none;
}