body {
    background: rgb(0, 0, 0);
    font-family: 'DIN', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.lihsr {
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0.8);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
h1 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px black;
    bottom: 32vh;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    font-size: 28px;
}
a {
    color: rgb(255, 228, 107);
}
a:hover {
    color: rgb(255, 124, 107);
    background-color: transparent;
    text-decoration: underline;
}
.version {
    position: fixed;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    bottom: 10px;
    left: 10px;
}
.user {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    backdrop-filter: blur(25px);
    transition: opacity 0.5s ease;
}
.options-wrapper {
    position: fixed;
    top: 1%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.options,
.credits {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
    margin: 0 3px;
    transition: 0.5s ease;
    cursor: pointer;
}
.options:hover,
.credits:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease; 
}
.options {
    background-image: url('../media/icons/cog-outline.svg');
}
.credits {
    background-image: url('../media/icons/heart-outline.svg');
}
.options-container,
.credits-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
    transition: opacity 0.5s ease;
}
.options-container.active,
.credits-container.active {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}
.options-text,
.credits-text {
    position: fixed;
    top: 5%;
    left: 7%;
    width: 100%;
    height: auto;
    color: white;
    font-size: 60px; /* Adjust the font-size as needed */
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
    text-align: center;
}
.credits-content {
    position: fixed;
    top: 18%;
    left: 10%;
    width: 100%;
    height: auto;
    color: white;
    font-size: 30px; /* Adjust the font-size as needed */
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.highlighted-credit {
    color: rgb(255, 228, 107);
}
.options-app {
    position: fixed;
    top: 18%;
    left: 30%;
    width: 40%;
    height: 25%;
    border-radius: 10px;
    background-color: #C4BEC2;
    display: none;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.options-app.active {
    display: block;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.volume {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 15vw; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.volume:hover {
    opacity: 1; /* Fully shown on mouse-over */
    z-index: 4;
}
.volume::-webkit-slider-thumb  {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background-image: url("../media/icons/radio-button-on-outline.svg");
    cursor: pointer; /* Cursor on hover */
    z-index: 4;
}
.volume::-moz-range-thumb  {
    width: 25px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 4;
}
.options-volume {
    position: relative;
    color: white;
    z-index: 4;
    width: 7vw;
    height: 7vh;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.options-volumetext {
    position: relative;
    color: white;
    z-index: 4;
    width: 4vw;
    display: none;
    font-size: 40px;
    margin: 1vw;
    text-shadow: 2px 2px 2px black;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.options-volumewrapper {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options-volumewrapper2 {
    position: absolute;
    top: 6vw;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}
.options-volumecontainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Start from the right side */
    right: 0;
}
.options-audioleft,
.options-audioright {
    position: relative;
    color: white;
    z-index: 4;
    width: 7vw;
    height: 7vh;
    display: none;
    cursor: pointer;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.options-volumewrapper2 .audioname {
    position: relative;
    color: white;
    z-index: 4;
    width: 4vw;
    display: none;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    transition: opacity 0.75s ease, transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kurukuru {
    width: 169px;
    height: 169px;
}
#loading-text {
    margin-top: 20px;
    color: white;
    font-size: 22px;
    text-align: center;
}
.game-container {
    position: absolute;
    bottom: 6.5vw;
    right: 0%;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.play,
.settings {
    position: relative;
    padding: 20px 30px;
    margin: 0 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 2;
    transition: 0.5s ease;
}
.play:hover,
.settings:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease; 
}

.settings-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
    transition: opacity 0.5s ease;
}
.settings-container.active {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}
.settings-app {
    position: fixed;
    top: 18%;
    left: 10%;
    width: 80%;
    height: 75%;
    border-radius: 10px;
    background-color: #C4BEC2;
    display: none;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.settings-app.active {
    display: block;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.settings-text-container {
    position: absolute;
    top: 2%;
    left: 5%;
    display: flex;
    align-items: center;
}

.settings-logo {
    width: 20%;
    height: auto;
    color: white;
    z-index: 5;
    display: none;
    margin-right: 18px;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.settings-text {
    width: 10%;
    height: auto;
    color: white;
    font-size: 60px; /* Adjust the font-size as needed */
    text-shadow: 2px 2px 2px black;
    z-index: 5;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-map {
    position: relative;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    left: 10vh;
    z-index: 4;
    display: none;
    transition: opacity 0.5s ease, transform 0.4s ease;
}

.settings-map-wrapper {
    position: absolute;
    top: 1.5vw;
    right: 2vw;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Start from the right side */
    flex-wrap: wrap;
}

.settings-map-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Start from the right side */
    right: 0;
}

.settings-map1,
.settings-map2,
.settings-map3,
.settings-map4,
.settings-map5 {
    position: relative;
    top: 1%;
    z-index: 4;
    width: 10vw;
    height: 11.25vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.25vw;
    cursor: pointer;
    display: none;
    transition: transform 0.2s ease;
}

.settings-map1 {
    background-image: url("../media/map/random.png");
}

.settings-map2 {
    background-image: url("../media/map/hertaspacestation.png");
}

.settings-map3 {
    background-image: url("../media/map/jarilovi.png");
}

.settings-map4 {
    background-image: url("../media/map/thexianzhouluofu.png");
}

.settings-map5 {
    background-image: url("../media/map/penacony.png");
}

.settings-map1:hover,
.settings-map2:hover,
.settings-map3:hover,
.settings-map4:hover,
.settings-map5:hover {
    transform: scale(1.05);
}

.settings-map1.active,
.settings-map2.active,
.settings-map3.active,
.settings-map4.active,
.settings-map5.active {
    z-index: 4;
}

.settings-gamemode-wrapper {
    position: absolute;
    top: 9vw;
    right: 2vw;
    width: 100%; /* Set the desired width */
    height: 15%; /* Set the desired height */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Start from the right side */
}
.settings-gamemode-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
}
.settings-gamemodestext {
    position: relative;
    color: white;
    left: 10vh;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamemodesstandardtext,
.settings-gamemodessurvivaltext {
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    margin: 5vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.settings-gamerules-wrapper {
    position: absolute;
    right: 2vw;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.settings-gamerules-wrapper1 {
    top: 15vw;
    justify-content: space-between;
}

.settings-gamerules-wrapper2 {
    top: 22vw;
    justify-content: flex-end;
}

.settings-gamerules-wrapper3 {
    top: 29vw;
    justify-content: flex-end;
}

.settings-gamerules-container1,
.settings-gamerules-container2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settings-gamerulestext {
    position: relative;
    color: white;
    left: 10vh;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerulestimer,
.settings-gamerulesseetime,
.settings-gameruleround  {
    position: relative;
    color: white;
    z-index: 4;
    width: 7vw;
    height: 7vh;
    margin: -1vw;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.slider1-container,
.slider2-container,
.slider3-container {
    display: flex;
    align-items: center;
}

.slider1,
.slider2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20vw; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.slider3 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 15vw; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.slider1:hover,
.slider2:hover,
.slider3:hover {
    opacity: 1; /* Fully shown on mouse-over */
    z-index: 4;
}
.slider1::-webkit-slider-thumb,
.slider2::-webkit-slider-thumb,
.slider3::-webkit-slider-thumb  {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background-image: url("../media/icons/radio-button-on-outline.svg");
    cursor: pointer; /* Cursor on hover */
    z-index: 4;
}
.slider1::-moz-range-thumb,
.slider2::-moz-range-thumb,
.slider3::-moz-range-thumb  {
    width: 25px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 4;
}
.settings-displayTime,
.settings-displaySeeTime,
.settings-displayRound  {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}


.settings-seedtext {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    margin: 1vw;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.seedinput {
    position: relative;
    padding: 2vh 8vw;
    font-family: 'DIN', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248);
    z-index: 4;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.seedinput::placeholder {
    font-style: italic;
}
.seedtext {
    position: fixed;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    bottom: 2%;
    left: 1%;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-filterstext {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerulebaw,
.settings-gameruleinvert,
.settings-gamerulepixelate,
.settings-gamerulescramble {
    position: relative;
    width: 7vw;
    height: 7vh;
    color: white;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 43px;
    z-index: 4;
    display: none;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #252525;
}

input:focus + .slider {
    box-shadow: 0 0 2px #000000;
}

input:checked + .slider:before {
    transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.guess-tooltip {
    font-family: 'DIN', sans-serif;
    font-size: 10px;
}
@font-face {
   font-family: 'DIN';
   src: url('../media/font/DIN.ttf') format('truetype');
}
.random-image {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.starrail-container {
    position: fixed;
    width: 435px;
    height: 435px;
    right: 1%;
    bottom: 1%;
}
.dropdown {
    position: absolute;
    right: 1%;
    z-index: 4;
}
.dropdown-btn {
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 4;
    display: none;
    transition: 0.5s ease;
}
.dropdown-btn:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 3;
    max-height: 300px;
    overflow: auto;
}
.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}
.dropdown-menu .hst-mcz:hover,
.dropdown-menu .hst-bz:hover,
.dropdown-menu .hst-stz:hover,
.dropdown-menu .hst-suz:hover,
.dropdown-menu .hst-scz:hover,
.dropdown-menu .j6-ad:hover,
.dropdown-menu .j6-osp:hover,
.dropdown-menu .j6-bp:hover,
.dropdown-menu .j6-sgrz:hover,
.dropdown-menu .j6-cofe:hover,
.dropdown-menu .j6-eh:hover,
.dropdown-menu .j6-poc:hover,
.dropdown-menu .j6-owtg:hover,
.dropdown-menu .j6-bt:hover,
.dropdown-menu .j6-gm:hover,
.dropdown-menu .j6-rt:hover,
.dropdown-menu .j6-rs:hover,
.dropdown-menu .j6-ad:hover,
.dropdown-menu .j6-owtg:hover,
.dropdown-menu .j6-rt:hover,
.dropdown-menu .j6-rs:hover,
.dropdown-menu .txl-csh:hover,
.dropdown-menu .txl-c:hover,
.dropdown-menu .txl-sn:hover,
.dropdown-menu .txl-es:hover,
.dropdown-menu .txl-aa:hover,
.dropdown-menu .txl-dc:hover,
.dropdown-menu .txl-fg:hover,
.dropdown-menu .txl-ac:hover,
.dropdown-menu .txl-sw:hover,
.dropdown-menu .txl-c:hover,
.dropdown-menu .txl-dc:hover,
.dropdown-menu .txl-ac:hover,
.dropdown-menu .p-tr:hover,
.dropdown-menu .p-gh:hover,
.dropdown-menu .p-de:hover,
.dropdown-menu .p-acd:hover,
.dropdown-menu .p-trd:hover,
.dropdown-menu .p-dp:hover,
.dropdown-menu .p-cstp:hover{
    background-color: #f2f2f2;
}

.dropdown-menu .sub-menu-hst,
.dropdown-menu .sub-menu-j6,
.dropdown-menu .sub-menu-txl,
.dropdown-menu .sub-menu-p{
    display: none;
    max-height: 200px;
    overflow: auto;
}

.dropdown-menu .sub-menu-hst.show,
.dropdown-menu .sub-menu-j6.show,
.dropdown-menu .sub-menu-txl.show,
.dropdown-menu .sub-menu-p.show{
    display: block;
}

.dropdown-menu .sub-menu-hst .hst-mcz:hover {
    background-color: #f2f2f2;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cecece;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #272727;
}
.floor-btn {
    font-family: 'DIN', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 3;
    transition: transform 0.5s ease;
}
.floor-btn:hover {
    background-color: rgba(165, 165, 165, 0.5)
}
#starrailmap {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    bottom: 2%;
    right: 1%;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: opacity 0.5s ease, transform 0.4s ease;
    z-index: 3;
}
#starrailmap:hover {
    transform: scale(1.2) translateX(-8%) translateY(-8%);
    justify-content: right;
}
.guess-btn {
    position: fixed;
    display: none;
    padding: 5px 152px;
    font-family: 'DIN', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    color: rgb(105, 105, 105);
    z-index: 2;
    bottom: 2%;
    right: 1%;
    transition: 0.5s ease;
}
.guess-btn.has-marker {
    background-color: green;
    cursor: pointer;
    color: white;
}
.guess-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 3;
}
.guess-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 25%;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guess-container {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 4;
    justify-content: center;
    align-items: center;
}
.guess-result {
    text-align: center;
    color: white;
    word-break: break-word;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
}
.next-round {
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
    transition: 0.5s ease;
}
.next-round:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
#resultmap {
    position: relative;
    display: flex;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    margin: 0 20px;
    height: 350px;
    width: 350px;
    transition: opacity 0.5s ease, transform 0.4s ease;
    flex-shrink: 0;
}
.countdown-container {
    top: 1%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    z-index: 4;
}
#countdown-text,
#countdown-s-text {
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    z-index: 4;
    display: none;
    transition: 0.5s ease;
}
#countdown-text {
    color: white;
}
#countdown-s-text {
    color: rgb(255, 245, 159);
}
#countdown-timeup {
    position: absolute;
    display: flex;
    font-size: 96px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 4;
    display: none;
}
.game-stat {
    position: fixed;
    top: 1%;
    right: 1%;
    background-color: rgb(91, 99, 206);
    min-width: 280px;
    height: 80px;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
#map-info,
#round-info,
#score-info {
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    transition: opacity 0.75s ease;
    margin: 10px;
}
#final-score {
    position: absolute;
    text-align: center;
    color: rgb(255, 228, 107);
    font-size: 200px;
    text-shadow: 2px 2px 2px black;
    top: 35%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.map-text {
    font-size: 20px;
    opacity: 0.5;
}
.finaltext {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    top: 33%;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.menu-btn {
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 4;
    bottom: 15%;
    display: none;
    transition: 0.5s ease;
    position: fixed;
}
.menu-btn:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
.gameaudio {
    display: none;
}
@media (max-height: 768px) or (max-width: 1024px) {
    .play,
    .settings {
        padding: 10px 20px;
        font-size: 16px;
    }
    h1 {
        font-size: 16px;
        bottom: 35vh;
    }
    .lihsr {
        transform: translate(-50%, -50%) scale(0.4);
    }
    .version {
        font-size: 20px;
    }
    .options,
    .credits {
        padding: 15px;
    }
    .settings-logo {
        width: 10%;
        height: auto;
    }
    
    .settings-text {
        width: 10%;
        font-size: 30px;
    }
    .options-text,
    .credits-text {
        font-size: 30px;
    }
    .credits-content {
        font-size: 16px;
    }
    .settings-map.active,
    .settings-gamemodestext.active,
    .settings-gamemodesstandardtext.active,
    .settings-gamemodessurvivaltext.active,
    .settings-gamerulestext.active,
    .settings-displayTime.active,
    .settings-displaySeeTime.active,
    .settings-displayRound.active,
    .settings-seedtext.active,
    .settings-filterstext.active,
    .options-volumetext.active,
    .audioname.active {
        font-size: 20px;
    }
    .switch {
        width: 39.5px;
        height: 21.5px;
    }

    .slider:before {
        height: 16.5px;
        width: 16.5px;
        left: 2.5px;
        bottom: 2.5px;
    }
    input:checked + .slider:before {
        transform: translateX(16.5px);
    }
    .settings-map-wrapper {
        height: 8%;
        top: 0.25vh;
    }
    .settings-gamemode-wrapper {
        height: 8%;
    }
    .settings-gamerules-wrapper {
        height: 8%;
    }
    .seedtext {
        font-size: 16px;
    }
    .seedinput {
        padding: 2vh 8vw;
        font-size: 10px;
    }
    #starrailmap {
        width: 250px;
        height: 250px;
    }
    #resultmap {
        width: 250px;
        height: 250px;
    }
    #countdown-text {
        font-size: 16px;
    }
    #countdown-s-text {
        font-size: 16px;
    }
    #countdown-timeup {
        font-size: 72px;
    }
    .guess-btn {
        padding: 3px 102px;
    }
    .starrail-container {
        width: 310px;
        height: 310px;
    }
    .dropdown-btn {
        padding: 10px 20px;
        font-size: 20px;
    }
    .dropdown-menu {
        max-height: 200px;
    }
    .dropdown-menu .sub-menu-hst,
    .dropdown-menu .sub-menu-j6,
    .dropdown-menu .sub-menu-txl,
    .dropdown-menu .sub-menu-p{
        max-height: 100px;
    }
    .dropdown-menu li {
        padding: 5px;
    }
    .guess-result {
        font-size: 20px;
    }
    .next-round {
        padding: 10px 20px;
        font-size: 20px;
    }
    .countdown-container {
        justify-content: start;
    }
    .finaltext {
        font-size: 30px;
    }
    #final-score {
        font-size: 140px;
    }
    .menu-btn {
        padding: 10px 20px;
        font-size: 20px;
    }
    #map-info,
    #round-info,
    #score-info {
        font-size: 20px;
    }
    .game-stat {
        min-width: 220px;
        height: 60px;
        border-radius: 10px;
        display: none;
        align-items: center;
        justify-content: flex-end;
    }
}