body {
    background: rgb(0, 0, 0);
    font-family: 'DIN', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.lihsr {
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0.8);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
h1 {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px black;
    bottom: 32vh;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    font-size: 28px;
}
a {
    color: rgb(255, 228, 107);
}
a:hover {
    color: rgb(255, 124, 107);
    background-color: transparent;
    text-decoration: underline;
}
.version {
    position: fixed;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    bottom: 10px;
    left: 10px;
}
.user {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    backdrop-filter: blur(25px);
    transition: opacity 0.5s ease;
}
.options-wrapper {
    position: fixed;
    z-index: 1;
    top: 1%;
    right: 0;
}
.options,
.credits {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
    margin: 0 3px;
    transition: 0.5s ease;
    cursor: pointer;
}
.options:hover,
.credits:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease; 
}
.options {
    background-image: url('../media/icons/cog-outline.svg');
}
.credits {
    background-image: url('../media/icons/heart-outline.svg');
}
.options-container,
.credits-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
    transition: opacity 0.5s ease;
}
.options-container.active,
.credits-container.active {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}
.options-text,
.credits-text {
    position: fixed;
    top: 5%;
    left: 7%;
    width: 100%;
    height: auto;
    color: white;
    font-size: 60px; /* Adjust the font-size as needed */
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
    text-align: center;
}
.credits-content {
    position: fixed;
    top: 18%;
    left: 10%;
    width: 100%;
    height: auto;
    color: white;
    font-size: 30px; /* Adjust the font-size as needed */
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.highlighted-credit {
    color: rgb(255, 228, 107);
}
.options-app {
    position: fixed;
    top: 18%;
    left: 30%;
    width: 40%;
    height: 25%;
    border-radius: 10px;
    background-color: #C4BEC2;
    display: none;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.options-app.active {
    display: block;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.volume {
    -webkit-appearance: none;
    appearance: none;
    width: 15vw;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.volume:hover {
    opacity: 1;
    z-index: 4;
}
.volume::-webkit-slider-thumb  {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background-image: url("../media/icons/radio-button-on-outline.svg");
    cursor: pointer;
    z-index: 4;
}
.volume::-moz-range-thumb  {
    width: 25px;
    height: 10px;
    background: #04AA6D;
    cursor: pointer;
    z-index: 4;
}
.options-volume {
    position: relative;
    color: white;
    z-index: 4;
    width: 7vw;
    height: 7vh;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.options-volumetext {
    position: relative;
    color: white;
    z-index: 4;
    width: 4vw;
    display: none;
    font-size: 40px;
    margin: 1vw;
    text-shadow: 2px 2px 2px black;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.options-volumewrapper {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options-volumewrapper2 {
    position: absolute;
    top: 6vw;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}
.options-volumecontainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
}
.options-audioleft,
.options-audioright {
    position: relative;
    color: white;
    z-index: 4;
    width: 7vw;
    height: 7vh;
    display: none;
    cursor: pointer;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.options-volumewrapper2 .audioname {
    position: relative;
    color: white;
    z-index: 4;
    width: 4vw;
    display: none;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    transition: opacity 0.75s ease, transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kurukuru {
    width: 169px;
    height: 169px;
}
#loading-text {
    margin-top: 20px;
    color: white;
    font-size: 22px;
    text-align: center;
}
.game-container {
    position: absolute;
    bottom: 6.5vw;
    right: 0%;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.play,
.settings {
    position: relative;
    padding: 20px 30px;
    margin: 0 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 2;
    transition: 0.5s ease;
}
.play:hover,
.settings:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease; 
}
.settings-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
    transition: opacity 0.5s ease;
}
.settings-container.active {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}
.settings-app {
    position: fixed;
    top: 18%;
    left: 10%;
    width: 80%;
    height: 75%;
    border-radius: 10px;
    background-color: #C4BEC2;
    display: none;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.settings-app.active {
    display: block;
    z-index: 4;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.settings-text-container {
    position: absolute;
    top: 2%;
    left: 5%;
    display: flex;
    align-items: center;
}
.settings-logo {
    width: 20%;
    height: auto;
    color: white;
    z-index: 5;
    display: none;
    margin-right: 18px;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-text {
    width: 10%;
    height: auto;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
    z-index: 5;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-map {
    position: relative;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    left: 10vh;
    z-index: 4;
    display: none;
    transition: opacity 0.5s ease, transform 0.4s ease;
}
.settings-map-wrapper {
    position: absolute;
    top: 1.5vw;
    right: 2vw;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.settings-map-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
}
.settings-map1,
.settings-map2,
.settings-map3,
.settings-map4 {
    position: relative;
    top: 1%;
    z-index: 4;
    width: 10vw;
    height: 11.25vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.25vw;
    cursor: pointer;
    display: none;
    transition: transform 0.2s ease;
}
.settings-map1 {
    background-image: url("../media/map/random.png");
}
.settings-map2 {
    background-image: url("../media/map/hertaspacestation.png");
}
.settings-map3 {
    background-image: url("../media/map/jarilovi.png");
}
.settings-map4 {
    background-image: url("../media/map/thexianzhouluofu.png");
}
.settings-map1.active,
.settings-map2.active,
.settings-map3.active,
.settings-map4.active {
    z-index: 4;
}
#superstition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    backdrop-filter: blur(25px);
    transition: opacity 0.5s ease;
}
#superstition-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    z-index: 6;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
#superstition1,
#superstition2,
#superstition3 {
    z-index: 6;
    width: 20%;
    height: 60%;
    border-radius: 10px;
    background-color: #552d8a;
    display: none;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
#superstition1:hover,
#superstition2:hover,
#superstition3:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.settings-gamemode-wrapper {
    position: absolute;
    top: 9vw;
    right: 2vw;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-gamemode-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
}
.settings-gamemodestext {
    position: relative;
    color: white;
    left: 10vh;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamemodesstandardtext,
.settings-gamemodessurvivaltext,
.settings-gamemodessuperstitiontext {
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    margin: 2vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamemodessurvivalinfo,
.settings-gamemodessuperstitioninfo {
    position: relative;
    color: white;
    z-index: 4;
    width: 4vw;
    height: 4vh;
    margin-left: -2vw;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerules-wrapper {
    position: absolute;
    right: 2vw;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.settings-gamerules-wrapper1 {
    top: 15vw;
    justify-content: space-between;
}

.settings-gamerules-wrapper2 {
    top: 22vw;
    justify-content: flex-end;
}

.settings-gamerules-wrapper3 {
    top: 29vw;
    justify-content: flex-end;
}

.settings-gamerules-container1,
.settings-gamerules-container2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settings-gamerulestext {
    position: relative;
    color: white;
    left: 10vh;
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-gamerulestimer,
.settings-gamerulesseetime,
.settings-gameruleshold,
.settings-gameruleround,
.settings-gamerulebaw,
.settings-gameruleinvert,
.settings-gamerulepixelate,
.settings-gamerulescramble   {
    z-index: 4;
    width: 7vw;
    height: 7vh;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.slider1-container,
.slider2-container,
.slider3-container {
    display: flex;
    align-items: center;
}
.slider1,
.slider2 {
    -webkit-appearance: none;
    appearance: none;
    width: 10vw;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.slider3 {
    -webkit-appearance: none;
    appearance: none;
    width: 15vw; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: none;
    z-index: 4;
}
.slider1::-webkit-slider-thumb,
.slider2::-webkit-slider-thumb,
.slider3::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background-image: url("../media/icons/radio-button-on-outline.svg");
    opacity: 0.8;
    -webkit-transition: opacity .2s, transform .2s;
    transition: opacity .2s, transform .2s;
    cursor: pointer;
    z-index: 4;
}
.slider1::-webkit-slider-thumb:hover,
.slider2::-webkit-slider-thumb:hover,
.slider3::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    opacity: 1;
}
.settings-displayTime,
.settings-displaySeeTime,
.settings-displayHold,
.settings-displayRound  { 
    position: relative;
    width: 2.5vw;
    padding: 1.5vh;
    font-family: 'DIN', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(255, 248, 248);
    z-index: 4;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-seedtext {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    margin: 1vw;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.seedinput {
    position: relative;
    padding: 1.5vh 6vw;
    font-family: 'DIN', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248);
    z-index: 4;
    display: none;
    margin: 1vw;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.seedinput::placeholder {
    font-style: italic;
}
.seedtext {
    position: fixed;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    bottom: 2%;
    left: 1%;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.settings-filterstext {
    position: relative;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}

.switch {
    display: inline-block;
    width: 75px;
    height: 42px;
    z-index: 4;
    display: none;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:hover{
    background-color: #acacac;
}
.slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #252525;
}
input:checked + .slider:hover {
    background-color: #535353;
}
input:focus + .slider {
    box-shadow: 0 0 2px #000000;
}
input:checked + .slider:before {
    transform: translateX(32px);
}
.slider.round {
    border-radius: 30px;
}
.slider.round:before {
    border-radius: 50%;
}
.guess-tooltip {
    font-family: 'DIN', sans-serif;
    font-size: 10px;
}
@font-face {
   font-family: 'DIN';
   src: url('../media/font/DIN.ttf') format('truetype');
}
.random-image {
    z-index: -1;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}
.starrail-container {
    position: fixed;
    width: 435px;
    height: 435px;
    right: 1%;
    bottom: 1%;
}
.dropdown {
    position: absolute;
    right: 1%;
    z-index: 4;
}
.dropdown-btn {
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 4;
    display: none;
    opacity: 0.2;
    transition: 0.5s ease;
}
.dropdown-btn:hover {
    opacity: 0.8;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 3;
    max-height: 300px;
    overflow: auto;
}
.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}
.dropdown-menu .hst-mcz:hover,
.dropdown-menu .hst-bz:hover,
.dropdown-menu .hst-stz:hover,
.dropdown-menu .hst-suz:hover,
.dropdown-menu .hst-scz:hover,
.dropdown-menu .j6-ad:hover,
.dropdown-menu .j6-osp:hover,
.dropdown-menu .j6-bp:hover,
.dropdown-menu .j6-sgrz:hover,
.dropdown-menu .j6-cofe:hover,
.dropdown-menu .j6-eh:hover,
.dropdown-menu .j6-poc:hover,
.dropdown-menu .j6-owtg:hover,
.dropdown-menu .j6-bt:hover,
.dropdown-menu .j6-gm:hover,
.dropdown-menu .j6-rt:hover,
.dropdown-menu .j6-rs:hover,
.dropdown-menu .j6-ad:hover,
.dropdown-menu .j6-owtg:hover,
.dropdown-menu .j6-rt:hover,
.dropdown-menu .j6-rs:hover,
.dropdown-menu .txl-csh:hover,
.dropdown-menu .txl-c:hover,
.dropdown-menu .txl-sn:hover,
.dropdown-menu .txl-es:hover,
.dropdown-menu .txl-aa:hover,
.dropdown-menu .txl-dc:hover,
.dropdown-menu .txl-fg:hover,
.dropdown-menu .txl-ac:hover,
.dropdown-menu .txl-sw:hover,
.dropdown-menu .txl-c:hover,
.dropdown-menu .txl-dc:hover,
.dropdown-menu .txl-ac:hover,
.dropdown-menu .p-tr:hover,
.dropdown-menu .p-gh:hover,
.dropdown-menu .p-de:hover,
.dropdown-menu .p-acd:hover,
.dropdown-menu .p-trd:hover,
.dropdown-menu .p-dp:hover,
.dropdown-menu .p-cstp:hover{
    background-color: #f2f2f2;
}

.dropdown-menu .sub-menu-hst,
.dropdown-menu .sub-menu-j6,
.dropdown-menu .sub-menu-txl,
.dropdown-menu .sub-menu-p{
    display: none;
    max-height: 200px;
    overflow: auto;
}

.dropdown-menu .sub-menu-hst.show,
.dropdown-menu .sub-menu-j6.show,
.dropdown-menu .sub-menu-txl.show,
.dropdown-menu .sub-menu-p.show{
    display: block;
}

.dropdown-menu .sub-menu-hst .hst-mcz:hover {
    background-color: #f2f2f2;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cecece;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #272727;
}
.floor-btn {
    font-family: 'DIN', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 3;
    transition: transform 0.5s ease;
}
.floor-btn:hover {
    background-color: rgba(165, 165, 165, 0.5)
}
.floor-btn.active {
  background-color: #444;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  font-weight: bold;
}

#starrailmap-wrapper {
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 350px;
    height: 350px;
    pointer-events: none; /* allow hover */
    z-index: 3;
}
#starrailmap {
    position: fixed;
    bottom: 2%;
    right: 1%;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    transform-origin: bottom right;
    width: 350px;
    height: 350px;
    transition: opacity 0.5s ease, transform 0.4s ease;
    z-index: 3;
    user-select: none;     /* prevent text/image selection */
    -webkit-user-drag: none; /* prevent drag ghost image (Safari/Chrome) */
    -webkit-user-select: none;
    -ms-user-select: none;
}
.guess-btn {
    position: fixed;
    display: none;
    padding: 5px 152px;
    font-family: 'DIN', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    transform-origin: bottom right;
    opacity: 0.2;
    background-color: rgb(180, 180, 180);
    color: rgb(105, 105, 105);
    z-index: 4;
    bottom: 2%;
    right: 1%;
    transition: 0.5s ease;
}
.guess-btn.has-marker {
    background-color: green;
    cursor: pointer;
    color: white;
}
#starrailmap-wrapper:hover #starrailmap {
    opacity: 1 !important;
    transform: scale(1.75);
}

#starrailmap-wrapper:hover #guessButton {
    display: block;
    opacity: 1;
    transform: scale(1.75); /* match map scale */
}
.guess-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 3;
}
.guess-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 25%;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guess-container {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 4;
    justify-content: center;
    align-items: center;
}
.guess-result {
    text-align: center;
    color: white;
    word-break: break-word;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
}
.next-round {
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
    transition: 0.5s ease;
}
.next-round:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
#resultmap {
    position: relative;
    display: flex;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    margin: 0 20px;
    height: 350px;
    width: 350px;
    transition: opacity 0.5s ease, transform 0.4s ease;
    flex-shrink: 0;
}
.countdown-container {
    top: 1%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}
#countdown-text,
#countdown-s-text,
#countdown-h-text {
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
    background-color: rgba(25, 28, 56, 0.6);
    border-radius: 55px;
    padding: 10px 20px;
    z-index: 4;
    display: none;
    transition: 0.5s ease;
}
#countdown-text {
    color: white;
}
#countdown-s-text {
    color: rgb(255, 245, 159);
}
#countdown-h-text {
    color: rgb(255, 159, 159);
}
#countdown-timeup {
    position: absolute;
    display: flex;
    font-size: 96px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px;
    z-index: 4;
    display: none;
}
.game-stat {
  position: fixed;
  top: 1%;
  right: 1%;
  background-color: rgb(91, 99, 206);
  min-width: 280px;
  max-width: 800px;
  border-radius: 25px;
  display: none;          /* make sure it's flex */
  flex-direction: row;    /* text left, icons right */
  justify-content: space-between;
  align-items: center; /* top align */
  padding: 8px;
  gap: 12px;
}

.stat-info {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  white-space: nowrap;
}

.stat-icons {
  display: flex;
  flex-wrap: wrap;         /* allow wrapping */
  justify-content: center; /* center icons in container */
  gap: 6px;
  width: 100%;             /* make row span whole box */
}
.stat-icons img {
  width: 50px;
  height: 50px;
}

#map-info,
#round-info,
#score-info {
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    z-index: 4;
    transition: opacity 0.75s ease;
    margin: 10px;
}
#final-score {
    position: absolute;
    text-align: center;
    color: rgb(255, 228, 107);
    font-size: 200px;
    text-shadow: 2px 2px 2px black;
    top: 35%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.map-text {
    font-size: 20px;
    opacity: 0.5;
}
.req-text {
    font-size: 18px;
    opacity: 0.5;
    font-style: italic;
}
#diff1,
#diff2,
#diff3,
#diff4,
#diff5,
#diff6,
#diff7,
#diff8,
#diff9,
#filter1,
#filter2,
#filter3,
#filter4,
#debuff1,
#debuff2,
#debuff3,
#debuff4,
#debuff5,
#debuff5-1,
#debuff5-2,
#debuff5-3,
#debuff5-4,
#debuff6,
#debuff6-1,
#debuff6-2,
#debuff6-3,
#debuff6-4,
#debuff6-5,
#debuff6-6,
#debuff6-7,
#debuff6-8,
#debuff6-9,
#debuff6-10,
#buff1,
#buff2,
#buff3,
#buff4,
#buff5,
#buff5-1,
#buff5-2,
#buff5-3,
#buff5-4,
#buff6 {
  position: relative;
  z-index: 4;
  width: 50px;
  height: 50px;
  display: none;
}
.finaltext {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    top: 33%;
    z-index: 4;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
.menu-btn {
    padding: 20px 30px;
    font-family: 'DIN', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 248, 248, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 4;
    bottom: 15%;
    display: none;
    transition: 0.5s ease;
    position: fixed;
}
.menu-btn:hover {
    opacity: 0.8;
    color: rgb(255, 177, 177);
}
.rotate-screen-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    transition: opacity 0.5s ease;
}
.rotate-screen-mobile-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    color: white;
    font-size: 15px; /* Adjust the font-size as needed */
    text-shadow: 1px 1px 1px black;
    z-index: 10;
    display: none;
    transition: opacity 0.75s ease, transform 0.5s ease;
}
@media (max-aspect-ratio: 1/1) {
    .rotate-screen-mobile {
        display: block;
    }
    .rotate-screen-mobile-text {
        display: block;
    }
  }
@keyframes warning-glow {
    0% {
      box-shadow: inset 0 0 50px 15px rgba(255, 0, 0, 0.1);
    }
    50% {
      box-shadow: inset 0 0 50px 20px rgba(255, 0, 0, 0.4);
    }
    100% {
      box-shadow: inset 0 0 50px 15px rgba(255, 0, 0, 0.1);
    }
}
  
.warning-glow {
    animation: warning-glow 2.5s infinite;
}

.gameaudio {
    display: none;
}
@media (max-height: 768px) or (max-width: 1366px) {
    .play,
    .settings {
        padding: 10px 20px;
        font-size: 16px;
    }
    h1 {
        font-size: 16px;
        bottom: 35vh;
    }
    .lihsr {
        transform: translate(-50%, -50%) scale(0.4);
    }
    .version {
        font-size: 20px;
    }
    .options,
    .credits {
        padding: 15px;
    }
    .settings-logo {
        width: 10%;
        height: auto;
    }
    
    .settings-text {
        width: 10%;
        font-size: 30px;
    }
    .options-text,
    .credits-text {
        font-size: 30px;
    }
    .credits-content {
        font-size: 16px;
    }
    .settings-map.active,
    .settings-gamemodestext.active,
    .settings-gamemodesstandardtext.active,
    .settings-gamemodessurvivaltext.active,
    .settings-gamemodessuperstitiontext.active,
    .settings-gamerulestext.active,
    .settings-seedtext.active,
    .settings-filterstext.active,
    .options-volumetext.active,
    .audioname.active {
        font-size: 20px;
    }
    .switch {
        width: 39.5px;
        height: 21.5px;
    }

    .slider:before {
        height: 16.5px;
        width: 16.5px;
        left: 2.5px;
        bottom: 2.5px;
    }
    input:checked + .slider:before {
        transform: translateX(16.5px);
    }
    .settings-map-wrapper {
        height: 8%;
        top: 0.25vh;
    }
    .settings-gamemode-wrapper {
        height: 8%;
    }
    .settings-gamerules-wrapper {
        height: 8%;
    }
    .settings-gamerulestimer,
    .settings-gamerulesseetime,
    .settings-gameruleshold,
    .settings-gameruleround,
    .settings-gamerulebaw,
    .settings-gameruleinvert,
    .settings-gamerulepixelate,
    .settings-gamerulescramble   {
        width: 4vw;
        height: 4vh;
    }
    .settings-displayTime,
    .settings-displaySeeTime,
    .settings-displayHold,
    .settings-displayRound  {
        padding: 1vh;
        font-size: 10px;
    }
    .seedtext {
        font-size: 16px;
    }
    .seedinput {
        padding: 2vh 8vw;
        font-size: 10px;
    }
    #superstition-text {
        font-size: 36px;
    }
    #superstition1,
    #superstition2,
    #superstition3 {
        font-size: 18px;
    }
    #starrailmap {
        width: 250px;
        height: 250px;
    }
    #starrailmap-wrapper:hover #starrailmap {
    transform: scale(1.5);
    }

    #starrailmap-wrapper:hover #guessButton {
        transform: scale(1.5); /* match map scale */
    }
    #resultmap {
        width: 250px;
        height: 250px;
    }
    #countdown-text,
    #countdown-s-text,
    #countdown-h-text {
        font-size: 16px;
    }
    #countdown-timeup {
        font-size: 72px;
    }
    .guess-btn {
        padding: 3px 102px;
    }
    .starrail-container {
        width: 310px;
        height: 310px;
    }
    .dropdown-btn {
        padding: 10px 20px;
        font-size: 20px;
    }
    .dropdown-menu {
        max-height: 200px;
    }
    .dropdown-menu .sub-menu-hst,
    .dropdown-menu .sub-menu-j6,
    .dropdown-menu .sub-menu-txl,
    .dropdown-menu .sub-menu-p{
        max-height: 100px;
    }
    .dropdown-menu li {
        padding: 5px;
    }
    .floor-btn {
        font-size: 10px;
    }
    .guess-result {
        font-size: 20px;
    }
    .next-round {
        padding: 10px 20px;
        font-size: 20px;
    }
    .countdown-container {
        justify-content: start;
    }
    .finaltext {
        font-size: 30px;
    }
    #final-score {
        font-size: 140px;
    }
    .menu-btn {
        padding: 10px 20px;
        font-size: 20px;
    }
    #map-info,
    #round-info,
    #score-info {
        font-size: 20px;
    }
    #diff1,
    #diff2,
    #diff3,
    #diff4,
    #diff5,
    #diff6,
    #diff7,
    #diff8,
    #diff9,
    #filter1,
    #filter2,
    #filter3,
    #filter4,
    #debuff1,
    #debuff2,
    #debuff3,
    #debuff4,
    #debuff5,
    #debuff5-1,
    #debuff5-2,
    #debuff5-3,
    #debuff5-4,
    #debuff6,
    #debuff6-1,
    #debuff6-2,
    #debuff6-3,
    #debuff6-4,
    #debuff6-5,
    #debuff6-6,
    #debuff6-7,
    #debuff6-8,
    #debuff6-9,
    #debuff6-10,
    #buff1,
    #buff2,
    #buff3,
    #buff4,
    #buff5,
    #buff5-1,
    #buff5-2,
    #buff5-3,
    #buff5-4,
    #buff6{
    position: relative;
    z-index: 4;
    width: 35px;
    height: 35px;
    display: none;
    }
    .game-stat {
        min-width: 220px;
        max-width: 600px;
        height: 60px;
        border-radius: 10px;
        display: none;
        align-items: center;
        justify-content: flex-end;
    }
}